.ChampNutrition{
    flex: 1;
    display: flex;
    margin-top: 5px;
    border: 1px solid lightgrey;
    padding: 8px 16px;
    border-radius:8px;
    align-items: center;
}

.nutritionName{
    color: grey;
    font-size: 16px;
    font-weight: 600;
    width:100%;
}

.nutritionMenu{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: flex-end;
    gap:2px;
}

.nutrition_kcal{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:2px;
}

.nutrition_quantity{
    display:flex;
    flex-direction: row;
    gap:2px;
    align-items:center;
    justify-content: flex-end;
}

#calories, #bread, #fruit, #milk, #egg, #meat, #cru, #feculent, #vert, #fish{
    color:grey;
    font-size:14px;
}

.activityCalories{
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: left;
}

.name{
    text-transform: uppercase;
    font-size:12px;
    font-weight: bold;
    color: grey;
    letter-spacing:2px;
    padding-bottom:4px;
    margin-top:24px;
    text-align: left;
}

.kcal, .quantity{
    font-size:14px;
}