.picture{
    height:200px;
    width:200px;
    background: url(C:/Users/Océane/OneDrive/Documents/GitHub/project_health/src/assets/error.png) lightgray 50% / cover no-repeat;
}

.block{
    background-color: white;
    border: 1px solid yellow;
    display: inline-flex;
    width: 270px;
    height: 500px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#title{
    color:orangered;
    font-size: 25px;
    font-family: Impact;
}

#text{
    font-size:14px;
    color:orangered;
    padding:24px;
}

i{
    color:grey;
    font-size:10px;
}