#patientName{
    margin-top:8px;
    color: #6D350D;
    font-size: 12px;
}

/* Vignette représentant le profil du patient */
.PatientElement{
    padding: 8px;
    display: grid;
    border-radius: 8px;
    border: 1px solid  #DA8243;
    background: white;
    margin:8px;
    box-shadow: 0px 1px 4px 0px rgba(218, 157, 67, 0.25);
}

.PatientList{
    display: inline-flex;
    flex-direction: column;
}