/* J'ai pas encore cherché pourquoi ça prend pas la couleur du root, du coup je l'ai ajouté temporairement là*/
#root{
    background-color: white;
}

.icone{
    position: relative;
}

.title{
    position: relative;
    top: 0px;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}

#titleStats, #titleEntrainement{
    margin-top: 25px;
    text-align: left;
    font-size: 16px;
    padding: 0 10px;
}


#ImageSport{
    position: relative;
    height: 120px;
    width: 120px;
    margin-top: 30px;
}

#fleche{
    right: 50px;
    height: 24px;
    color: #000000;
}

#rouage{
    left: 50px;
    width: 24px;
    color: #949494;
}

#duration{
    right: 5px;
    color: white;
}
#calories{
    right: 5px;
    color: white;
}


#patientName{
    margin-top: 5px;
    color: #6D350D;
    font-size: 12px;
}

.OngletsSuivi{
    display: flex;
    margin-top: 25px;
    border-bottom: 1px solid #F0E9E2;
}

.Onglets{
    flex: 1;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 300;
}

.Onglets:hover{
    cursor: pointer;
    color: #DA8243;
    font-weight: 400;
}

#OngletsClicked {
    color: #DA8243;
}

.Onglets.active{
    color: #DA8243;
}


/*
*  Statistiques Actuelles
*/

/* Stats Bar : nom de stat + carré des résultats */
.statsActuelles {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}


/* carré des résultats */

.ChampStatsActu{
    flex: 1;
    text-align: center;
    margin-top: 5px;
    width: 120px;
    height: 60px;
    border-radius: 8px;
    gap: 8px;
    padding: 10px;
    border: 1px solid #A5FBB8;
    background-color: #F5FEF4;
}

.ChampStatsActuOverweight{
    flex: 1;
    text-align: center;
    margin-top: 5px;
    width: 120px;
    height: 60px;
    border-radius: 8px;
    gap: 8px;
    padding: 10px;
    border: 1px solid #F4FBA5;
    background-color: #FEFDF4;
}

.ChampStatsActuMorbidObesity{
    flex: 1;
    text-align: center;
    margin-top: 5px;
    width: 120px;
    height: 60px;
    border-radius: 8px;
    gap: 8px;
    padding: 10px;
    border: 1px solid #FFC8C8;
    background-color: #FEF4F4;
}

.ChampStatsActuModerateObesity{
    flex: 1;
    text-align: center;
    margin-top: 5px;
    width: 120px;
    height: 60px;
    border-radius: 8px;
    gap: 8px;
    padding: 10px;
    border: 1px solid #FFDCC8;
    background-color: #FEF9F4;
}

.ChampStatsActuUnderweight{
    flex: 1;
    text-align: center;
    margin-top: 5px;
    width: 120px;
    height: 60px;
    border-radius: 8px;
    gap: 8px;
    padding: 10px;
    border: 1px solid #CFF3F3;
    background-color: #F4FEFE;
}

.statValue{
    color: #46DA43;
    font-size: 24px;
}

.statValueUnderweight{
    color: #43D1DA;
    font-size: 24px;
}

.statValueOverweight{
    color: #DAB943;
    font-size: 24px;
}

.statValueMorbidObesity{
    color: #DA4343;
    font-size: 24px;
}

.statValueModerateObesity{
    color: #DA9D43;
    font-size: 24px;
}

.statCaption{
    color: gray;
    font-weight: lighter;
    font-size: 12px;
}
#ChampStatsActClicked {
    color: #DA8243;
}


/*
*  Derniers Entraînement
*/

.ChampEntrainement{
    flex: 1;
    display: flex;
    margin-top: 5px;
    height: 40px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #A5FBB8;
    background-color: black;
    background-image: url('../public/cyclisme.png'); /* Path to your image */
    background-size: cover;
    background-position: bottom;
}
.activityName{
    flex: 2;
    margin: auto;
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.activityDurationCalories{
    margin: auto;
    align-content: start;
}

.activityDuration, .activityCalories{
    flex: 1;
    display: flex;
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: left;
}


#ChampEntrainementActClicked {
    color: #DA8243;
}